.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/self_made/v16/.suo
Test.py
Test.txt
UseDeepL/.vscode/settings.json
UseDeepL/after.txt
UseDeepL/before.txt
LengthOfSentence/target.txt
